@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");

$font-main: "Outfit", sans-serif;
$background: #000;
$text-color: #fff;

body {
  margin: 0;
  padding: 0;
  background-color: $background;
  color: $text-color;
  font-family: $font-main;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
